<l1-navbar></l1-navbar>
<div class="content">
    <aside class="popular-topics">
        <h1>Popular topics!</h1>
        <ul>
            <li>
                Anime
            </li>
            <li>
                Computer games
            </li>
            <li>
                Programming
            </li>
            <li>
                Smoking
            </li>
        </ul>
    </aside>
    <main>
        <h1>SUCH WOW TOPIC TITLE</h1>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi magni suscipit corporis quae quod consectetur repellat vitae, atque dolores. Ipsum in cum vero perferendis nam eligendi optio minima provident rerum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi magni suscipit corporis quae quod consectetur repellat vitae, atque dolores. Ipsum in cum vero perferendis nam eligendi optio minima provident rerum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi magni suscipit corporis quae quod consectetur repellat vitae, atque dolores. Ipsum in cum vero perferendis nam eligendi optio minima provident rerum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi magni suscipit corporis quae quod consectetur repellat vitae, atque dolores. Ipsum in cum vero perferendis nam eligendi optio minima provident rerum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi magni suscipit corporis quae quod consectetur repellat vitae, atque dolores. Ipsum in cum vero perferendis nam eligendi optio minima provident rerum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi magni suscipit corporis quae quod consectetur repellat vitae, atque dolores. Ipsum in cum vero perferendis nam eligendi optio minima provident rerum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi magni suscipit corporis quae quod consectetur repellat vitae, atque dolores. Ipsum in cum vero perferendis nam eligendi optio minima provident rerum.
        </div>
    </main>
    <aside class="advertisement">
        your advertisement could be here
    </aside>
</div>